* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  line-height: 1.4em;
}

.container {
  max-width: 1075px;
  width: 100%;
  background-color: #fff;
  margin: 25px 0;
  padding: 0 25px 100px;
}

header {
  border: 2px solid #b8b8b8;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
}

header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-image: url("../img/header_img.png"); */
  background-position: 65% bottom;
  background-repeat: no-repeat;
}

header .header_content h1 {
  max-width: 540px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #1b478a;
  font-size: 36px;
  font-weight: 700;
  text-align: right;
  margin: 35px 0;
  text-transform: uppercase;
}

header .header_content h1 span {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  text-align: right;
  text-transform: none;
}

header .header_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #707070;
  height: 35px;
  max-width: 290px;
  width: 100%;
}

header .header_input input {
  border: none;
  width: 100%;
  height: 100%;
}

header .header_input img {
  border-left: 1px solid #b8b8b8;
  padding: 0 5px;
}

header .header_box {
  background-color: #130f45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

header ul li {
  padding: 10px 20px 10px;
}

header ul li a {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1025px;
  width: auto;
}

.content {
  width: auto;
  max-width: 715px;
}

.content h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: right;
  margin-top: 10px;
}

.content h2 span {
  font-size: 30px;
}

.content h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: right;
}

.content h4 {
  color: #000000;
  font-size: 27px;
  font-weight: 500;
  text-align: right;
  line-height: 1.4em;
  margin: 30px 0 20px;
}

.content p {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4em;
  text-align: right;
  margin: 20px 0;
}

.content .img2 {
  max-width: 293px;
  width: 100%;
  float: left;
  margin: 0 25px 25px 0;
}

.content ul {
  margin-left: 25px;
}

.content ul li h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: right;
  margin: 0;
}

.content ul li p {
  margin: 5px 0 25px;
}

.content h5 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0 0;
}

.content .cta {
  color: #0006ff;
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: underline;
  text-align: right;
  line-height: 1.4em;
}

.chart {
  max-width: 545px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #000;
  border-top: none;
  border-right: none;
  margin: 25px auto 0;
}

.chart article {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chart article p {
  text-align: center;
  font-size: 13px;
  margin: 10px 0;
  padding: 10px;
}

.chart article div {
  background-color: #00768C;
  width: 40%;
  height: 100px;
}

.chart_text {
  margin: auto;
  max-width: 545px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.chart_text p {
  width: 25%;
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0;
}
.wrapper > strong {
  width: 40%;
}
.sidebar {
  width: 450px;
  margin-left: 30px;
}

.sidebar h2 {
  background-color: #d3d3d3;
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

.sidebar article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px;
}

.sidebar article p {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  margin-left: 10px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .banner {
  background: -webkit-linear-gradient(top, #ebd50c 0%, #795e8e 100%);
  background: linear-gradient(to bottom, #ebd50c 0%, #795e8e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebd50c', endColorstr='#795e8e', GradientType=0);
  padding: 20px 0;
  border: 1px solid #000;
  cursor: pointer;
}

.sidebar .banner h2 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  background-color: #3454b9;
  padding: 15px;
}

.sidebar .banner img{
  max-width: 365px;
}

.sidebar .banner p {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  border-radius: 10px;
  background: -webkit-linear-gradient(90deg, #0056ba 0%, #4494f1 100%);
  background: -webkit-linear-gradient(bottom, #0056ba 0%, #4494f1 100%);
  background: linear-gradient(0deg, #0056ba 0%, #4494f1 100%);
  box-shadow: 0px 1px 6.96px 1.04px rgba(0, 0, 0, 0.63);
  max-width: 200px;
  width: 100%;
  padding: 10px 0;
  margin: 10px auto 0;
}

.comments {
  margin-top: 50px;
  max-width: 690px;
  width: 100%;
}

.comments h2 {
  max-width: 220px;
  width: 100%;
  color: #3a3a3a;
  font-size: 32px;
  font-weight: 700;
  text-align: right;
  border-bottom: 2px solid #434343;
  margin-bottom: 15px;
}

.comments article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 20px 0;
  border-bottom: 2px solid #dedede;
}

.comments article div {
  width: 100%;
}

.comments article img {
  margin-right: 15px;
}

.comments article h3 {
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  font-style: italic;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.comments article h3 span {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}

.comments article p {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  margin-top: 5px;
}

div.aw-widget-36hour-inner {
  min-width: 0px!important;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

footer a, .footer-links {
  color: grey;
  font-weight: normal;
  text-decoration: none;
  font-size: 11px;
}
.articleSponsored {
  text-align: right;
  color: #9F9389;
  font-size: 14px;
  font-family: sans-serif;
  margin-top: 1%;
}
.hidden {
  display: none;
}














/*popup*/
#popup-background{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	left: 0;  
	right: 0; 
	top: 0; 
	bottom: 0;
	z-index: 1111;
	display: none;
	font-family: arial;
   }
	#popup-background #popup-wrapper{
  
	   position: relative;
	 
	  background: white;
	  max-height: 95%;
	  top: 50%;
	  margin:0 auto;
	  border: solid 2px #000;
	  /*border-radius: 15px;*/
	  max-width: 650px;
	  transform: translate(-0%,-50%);
  
	}
	  #popup-background .text1{
		padding: 20px 25px 12px 0px;
		font-size: 20px;
		text-align: center;
		position: relative;
	  }
	   /*#popup-background .wrapper{
		 position: absolute;
		 top: 50%;
		 transform: translate(-0%,-50%);
	   }*/
	  #popup-background h2{
		font-size: 46px;
		color:#1c3f71;
		margin:38px 0;
	  }
	   #popup-background h3{
		font-size: 26px;
		color:black;
	  }
	   #popup-background button{
		font-size: 22px;
		cursor: pointer;
	   }
		  #popup-background img{
			max-width: 100%;
			height: auto;
		  }
		   #popup-background .resign{
			font-size: 12px;
			margin: 5px 5px 5px 2px;
			cursor: pointer;
		   }
  
  
		   #popup-background .img-wrapper {
	  float: left;
	  width: 40%;
	  margin-top: 30px;
  }
  
   #popup-background  .btn.btn-zamow {
	  margin-top: 20px;
	  background-color: #dc380a;
	  border-color: #2e6da4;
	  color: white;
	  padding: 10px 11px;
	  text-decoration: none;
	  border-radius: 5px;
	  border: 1px solid #7b7979;
	  font-weight: bold;
	  margin: 0 auto;
	  display: inline-block;
  }
  
  #popup-background .img-wrapper {
	  float: left;
	  width: 40%;
	  margin-top: 30px;
  }
  div.text1 {
	  width: 60%;
	  float: right;
	}
  
	  .form-group .input-form {
	  /* display: block; */
	  width: 65%;
	  margin: auto;
	  height: 38px;
	  padding: 6px 12px;
	  font-size: 14px;
	  line-height: 1.42857143;
	  color: #555;
	  background-color: #fff;
	  background-image: none;
	  border: 1px solid #ccc;
	  /*border-radius: 4px;*/
	  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	  margin-bottom: 15px;
  
	}
  
	/****popup****/
  .text-info-kom {
	text-align: center;
  }
	.info-kom {
	  background-color: #000;
	  color: #fff;
	  text-align: center;
	  padding: 5px;
	  font-size: 18px;
	  /*border-radius: 10px 10px 0 0;*/
	}
  
	#tm-exit {
	  color: red;
	  font-size: 30px;
	  font-weight: bold;
	  text-align: center;
	  display:block;
	  margin-bottom: 15px;
	}
  
  
  #popup-background .btn.btn-zamow2 {
	  margin-top: 20px;
	  background-color: #4caf50;
	  border-color: #4caf50;
	  color: white;
	  padding: 10px 11px;
	  text-decoration: none;
	  border-radius: 5px;
	  border: 1px solid #4caf50;
	  font-weight: bold;
	  font-size: 18px;
	  margin: 0 auto;
	  display: inline-block;
	}
  
	.prefix-input {
	  width: 20% !important;
  }
  .phone-input {
	  width: 45% !important;
  }
  
  /* TERMS AND CONDITIONS */
.regulations__overlay {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 9999;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.regulations__overlay:target {
	visibility: visible;
	opacity: 1;
}
.regulations {
	overflow-y: scroll;
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 90%;
	position: relative;
	transition: all .5s ease-in-out;
}
.regulations h2 {
	font-size: 24px;
	margin-top: 0;
	color: #d7b66c;
    font-family: Tahoma, Arial, sans-serif;
    margin-bottom: 0.5em;
}
.regulations__h3 {
	color: #141826;
	font-size: 20px;
	margin-top: 25px;
    margin-bottom: 10px;
    margin-bottom: 0.5em;
}
.regulations .close {
	position: fixed;
	top: 25px;
	right: 10px;
	transition: all 200ms;
	font-size: 50px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(216, 38, 6);
}
.regulations .close:hover {
	color: rgb(90, 4, 4);
}
.regulations .content {
	max-height: 30%;
}
.regulations-wrap {
	position: relative;
}
.regulations__p {
    font-size: 14px;
    margin-bottom: 0.5em;
    color: #141826;
}
.regulations__list {
    font-size: 14px;
    padding-left: 1em;
    color: #141826;
}
.regulations__list li {
    margin-bottom: 0.5em;
}

a {
  color: rgb(54, 54, 54);
  text-decoration: none;
}

a:hover {
  color: grey;
}